* {
    margin: 0;
    padding: 0;

}

#header {
    width: 100%;
    height: 50px;
    /*text-align: left;*/
    border-bottom: 2px solid silver;
    background: dodgerblue;
    /*color: white;*/
    /*line-height: 50px;*/
    margin-bottom: 50px;
}

#logo {
    width: 35px;
    margin: 5px 5px 5px 100px;
}

#post {
    width: 30px;
    float: right;
    padding: 10px 15px;
}

#str {
    color: black;
    width: 60%;
    /*height: 20px;*/
    margin: 10px auto;
    padding: 10px;
    /*line-height: 2;*/
    border: 1px solid silver;
    border-radius: 10px;
}

.retweet {
    border: 1px solid silver;
    border-radius: 10px;
    color: black;
    padding: 10px;
    margin: 10px;
    display: table;
}

.text {
    padding-left: 20px;
}

#signup {
    background-color: white;
    color: dodgerblue;
    border: none;
    padding: 10px 10px;
    float: right;
    margin: 5px 100px 5px 5px;
    border-radius: 15px;
    cursor: pointer;
}

#login {
    background-color: dodgerblue;
    color: white;
    border: 1px solid white;
    padding: 10px 10px;
    float: right;
    margin: 5px 5px 5px 5px;
    border-radius: 15px;
    cursor: pointer;
}

#form_area {
    margin: 0 auto;
    flex-direction: column;
    width: 400px;
}

#textarea{
    width: 400px;
    height: 300px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 0 auto;
    padding: 10px;

}

#button_area {
    width: 70px;
    height: 30px;
    float: right;
    margin-top: 10px;
    background-color: dodgerblue;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.h1p {
    text-align: center;
}

#button_area2 {
    width: 50px;
    height: 20px;
    float: right;
    margin: 0 auto;
    background-color: dodgerblue;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

#body {
    height: 100vh;
    align-items: center;
    justify-content: center;

}

#form {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 400px;
}

#input {
    margin: 10px 0 5px 0;
    padding: 10px;
    border: unset;
    border-bottom: 2px solid grey;
    outline: none;
}

#button {
    padding: 10px;
    background: dodgerblue;
    border: unset;
    cursor: pointer;
    border-radius: 10px;
    color: white;
}

#a {
    color: royalblue;
    font-weight: bold;
    text-decoration: none;
}

#p {
    margin: 10px 0;
}

#error {
    color: tomato;
    font-size: 15px;
    margin-top: 0;
    margin-bottom: 7px;
}


